
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/master.css">
   
    <title>CF Evans Training</title>
    <link rel="icon" href="https://res.cloudinary.com/drh1qrzde/image/upload/v1549397333/favicon.png">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<!-- Latest compiled and minified CSS -->
    <!-- Custom styles for this template -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script> 
  </head>
  <body>
    <div class="body">{{{body}}}</div>
  </body>
  </html>